<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find manipulator_description)/urdf/robot.urdf"/>
  <arg name="urdf_path" default="$(find manipulator_description)/urdf/robot.urdf"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find manipulator_gazebo)/worlds/object3.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" textfile="$(arg urdf_path)" />


  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0.0 -y 0.0 -z 0.0"
    respawn="false" output="screen" />

 <!-- <node args="0.85931 0.242068 1.04639 2.1 0 -1.57 /world /camera_depth_optical_frame 20" name="kinect_base_link" pkg="tf" type="static_transform_publisher" />

  <node name="world_to_arm_base" pkg="tf" type="static_transform_publisher" args="0 -0.5 1 0.8 0 0 world base_link 100" />
-->
  <include file="$(find manipulator_moveit_config)/launch/ros_controllers.launch"/>


</launch>